<div class="dashboard-page">
  <!-- Top Navbar - It will only be shown when isNavbarVisible is true -->
  <div *ngIf="isNavbarVisible" class="top-navbar">
    <button class="profile-btn" *ngIf="userData && userData.Response" (click)="toggleProfileDetails()">
      <img class="navbar-profile-image" [src]="'https://www.bungie.net' + userData.Response.bungieNetUser.profilePicturePath" alt="Profile Picture">
    </button>
    <div *ngIf="showProfileDetails" class="profile-details-dropdown">
      <!-- Sample profile details, add more as per requirements -->
      <div>{{ userData.Response.bungieNetUser.uniqueName }}</div>
    </div>
  </div>

  <!-- Content -->
  <div class="content">
    <h1>Destiny Dashboard</h1>
    <p>Welcome, Guardian. Select your character to continue.</p>
    <button mat-raised-button color="accent" (click)="getCharacters()">Load Characters</button>
  </div>
</div>